
@{
    ViewBag.Title = "Oops";
}

<div class="row">
    <div class="col-md-12 page-404">
        <div class="number">
            @Response.StatusCode
        </div>
        <div class="details">
            <h3>亲！出错了！这个真没有~</h3>
            <p>
                您浏览的页面可能被删除，转移或暂时不可用<br>
                遇到此情况的概率和中彩票差不多哦!<br>
                买张彩票试试运气吧! <br>
            </p>

        </div>
    </div>
</div>

