@{
ViewBag.Title = "Lot List With Q-time Constraint";
Layout = "~/Views/Shared/_LayoutRptVue.cshtml";
}


<link href="~/Content/style.css" rel="stylesheet">
<link rel="stylesheet" href="~/Content/plugins/element/index.css">
<!-- For this Project Only -->
<link href="~/themes/local/qtime.css" rel="stylesheet">

<script src="~/Scripts/vue.min.js"></script>
<script src="~/Scripts/plugins/element/index.js"></script>
<script src="~/Scripts/ams.commontool.js"></script>

<el-container>
    <el-header height="1200">
        <el-collapse v-model="activeNames">
            <el-collapse-item title="查询条件" name="1">
                <el-row>
                    <el-col :span="4">
                        <div class="sub-title">&nbsp;&nbsp;&nbsp;Remain Qtime(Hr)</div>
                        <label>&lt;</label>
                        <el-input-number v-model="queryQtime" :step="0.5" :min="0" controls-position="right">
                        </el-input-number>
                    </el-col>
                    <el-col :span="4">
                        <div><br /></div>
                        <el-select v-model="queryFactor" placeholder="&lt;=FlowFactor">
                            <el-option v-for="item in options" :key="item.value" :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-col>
                    <el-col :span="2">
                        <div><br /></div>
                        <el-button type="primary" v-on:click="handleQueryClick" :loading="loading">Query</el-button>
                    </el-col>
                    <el-col :span="6" :offset="6">
                            <el-card class="box-card">
                                <div>开发者：曹晋（0279）</div>
                                <div>需求者：陈舒（0353）</div>
                                <div>Cilck Count: @ViewBag.ClickCount</div> 
                            </el-card>
                    </el-col>
                </el-row>
            </el-collapse-item>
        </el-collapse>
    </el-header>
    <el-main>
        <div class="sub-title" :style="{display:condShow}">Conditions:{{conditions}}</div>
        <div class="dt-buttons btn-group">
                <a class="btn btn-default buttons-excel buttons-html5" tabindex="1"  v-on:click.stop="outputExcel"><span><img src="~/themes/icons/excel_2007.gif" /></span></a>
                <a ref="dlink" style="display: none;"></a>
            </div>
        <el-table :data="tableEntities"  border size="mini" style="width: 100%" stripe max-height="600">
            <el-table-column type="index" width="50" align="center"></el-table-column>
            <el-table-column Property="LotID" label="Lot ID" align="center" min-width="120"></el-table-column>
            <el-table-column Property="FoupID" label="Foup ID" align="center" min-width="120"></el-table-column>
            <el-table-column Property="Location" label="Location" align="center" min-width="120"></el-table-column>
            <el-table-column Property="Status" label="Status" align="center" min-width="120"></el-table-column>
            <el-table-column Property="Qtime" label="Q-Time" align="center" min-width="120"></el-table-column>
            <el-table-column Property="RemainQt" label="Remain Q-Time" align="center" min-width="120" sortable></el-table-column>
            <el-table-column label="Flow Factor" align="center" min-width="120">
                <template  slot-scope="scope">
                    <div v-if="scope.row.FlowFactor<0" style="color:red">{{ StrFlowFactor }}</div>
                    <div v-else-if="scope.row.FlowFactor<1.3" style="color:purple">{{ StrFlowFactor }}</div>
                    <div v-else-if="scope.row.FlowFactor<1.6" style="color:orange">{{ StrFlowFactor }}</div>
                    <div v-else>{{ StrFlowFactor }}</div>
                </template>
            </el-table-column>
            <el-table-column Property="Dept" label="Department" align="center" min-width="120"></el-table-column>
            <el-table-column Property="OpeNo" label="Operation No" align="center" min-width="120"></el-table-column>
            <el-table-column Property="Step" label="Step" align="center" min-width="120"></el-table-column>
            <el-table-column Property="Priority" label="Priority" align="center" min-width="120"></el-table-column>
            <el-table-column Property="Qty" label="Q.ty" align="center" min-width="120"></el-table-column>
            <el-table-column Property="EqpType" label="Equipment Type" align="center" min-width="120"></el-table-column>
            <el-table-column Property="LotStates" label="Lot States" align="center" min-width="120"></el-table-column>
            <el-table-column Property="HoldCode" label="Hold Code" align="center" min-width="120"></el-table-column>
            <el-table-column Property="HoldComment" label="Hold Comment" align="center" min-width="120"></el-table-column>
            <el-table-column Property="ToDept" label="To Department" align="center" min-width="120"></el-table-column>
            <el-table-column Property="ToOpeNo" label="To Operation No" align="center" min-width="120"></el-table-column>
            <el-table-column Property="ToStep" label="To Step" align="center" min-width="120"></el-table-column>
            <el-table-column Property="ToEqpType" label="To Eqp Type" align="center" min-width="120"></el-table-column>
        </el-table> 
    </el-main>
</el-container>
<script src="~/Scripts/demo/qtime.js"></script>