.el-header {
    color: #333;
  }
  
  .el-main {
    color: #333;
    height: 70%;
  }

  .el-container{
    background-color:white;
    height: 100%;
    min-height: 700px;
  }

  .box-card{
      font-size: smaller;
      height: 100px;
      width: 60%;
  }
.dt-buttons{

  float: right;
}