#query-pannel {
width:100%;
}

    #query-pannel .btn-primary {
        width: 120px;
        margin-top:20px;
    }

.bootstrap-duallistbox-container label {
    font-weight: 400;
    font-size: 13px;
    font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.bootstrap-duallistbox-container .col-md-6{
    padding-left: 5px;
    padding-right: 5px;
}


.info-container {
    display: none;
}

.multi-select {
    width: 250px;
}

.itemtool {
    float: right;
}

.loading {
    display: none;
    position: absolute;
    top: 48%;
    left: 48%;
}

.show-later {
    display: none;
}

.inline {
    display:inline-block;
}

.block {
    display: block;
}
.block table{
    margin-top:10px; 
}

#fot-info {
    float:right;
}

    #fot-info p {
    font-weight:200;
    }

#myModal .modal-dialog {
        min-width: 80%;
        min-height: 600px;
    }

#myModal .note-toolbar {
        display: none;
    }

    .el-table-add-row {
        margin-top: 10px;
        width: 100%;
        height: 34px;
        border: 1px dashed #c1c1cd;
        border-radius: 3px;
        cursor: pointer;
        justify-content: center;
        display: flex;
        line-height: 34px;
        }

        #myModal select{
            height: 40px;
        }

        .warning{
            font-weight: bolder;
            color:red;
        }