.el-header {
    color: #333;
}

.el-main {
    color: #333;
    height: 70%;
}

.el-container {
    background-color: white;
    height: 100%;
    min-height: 700px;
}

.box-card {
    font-size: smaller;
    height: 100px;
    width: 60%;
}

.dt-buttons {
    float: right;
}

.hold-place {
    height: 10px;
}

.el-button {
    width: 100px;
}

.table table {
    text-align: center;
}

    .table table thead tr th {
        min-width: 20px;
        vertical-align: middle;
    }


    .table table tbody tr td {
        vertical-align: middle;
    }

    .table table tfoot tr td {
        vertical-align: middle;
    }

    .el-dialog .tableDiv {
        max-width: 100%;
        overflow: auto;
    }
    
    .el-dialog .setDiv {
        max-width: 100%;
        overflow: auto;
        min-height: 200px;
        margin-top: 50px;
    }

    table .el-button{
        height: auto;
        width: auto;
    }



