@model AMS.CIM.Caojin.RPTWebApp.Models.ReqRpt014MainViewModel
@{
    ViewBag.Title = "Top3";
    Layout = "~/Views/Shared/_LayoutRptBootStrap.cshtml";
}

<link href="~/Content/plugins/jQueryUI/jquery-ui-1.10.4.custom.min.css" rel="stylesheet">
<link href="~/Content/plugins/chosen/bootstrap-chosen.css" rel="stylesheet">
<link href="~/Content/plugins/jqGrid/ui.jqgrid.css" rel="stylesheet">
<link href="~/Content/plugins/iCheck/custom.css" rel="stylesheet">
<link href="~/Content/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="~/Content/plugins/datapicker/datepicker3.css" rel="stylesheet">
<link href="~/Content/plugins/dataTables/datatables.min.css" rel="stylesheet">
<link href="~/Content/animate.css" rel="stylesheet">
<link href="~/Content/style.css" rel="stylesheet">

<!-- Chosen -->
<script src="~/Scripts/plugins/chosen/chosen.jquery.js"></script>
<!-- Data picker -->
<script src="~/Scripts/plugins/datapicker/bootstrap-datepicker.js"></script>

<script src="~/Scripts/ams.commontool.js"></script>




<div class="row white-bg border-bottom ">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>查询条件</h5>
                <div class="ibox-tools">
                    <a class="collapse-link">
                        <i class="fa fa-chevron-up"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <div class="row">
                    <div class="col-lg-5">
                        <label class="font-normal">ProductID：</label><br />
                        <div>
                            <select id="selected-product" data-placeholder="请选择ProductID，不选视为全部" class="chosen-select" multiple>
                                @foreach (var item in Model.ProductList)
                                {
                                    <option value="@item">@item</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 " style="margin-top:5px">
                        <br />
                        <p>
                            <button type="button" class="btn btn-outline btn-primary" style="width:120px" onclick="Query()">Query</button>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <label class="font-normal">DateRange:</label>
                        <div class="input-daterange input-group" id="datepicker" style="width:100%">
                            <input type="date" class="input-sm form-control" name="start" id="start-date" />
                            <span class="input-group-addon"></span>
                            <select class="form-control input-sm" id="start-category" style="width:100%">
                                <option value="day">08:00</option>
                                <option value="night">20:00</option>
                            </select>
                            <span class="input-group-addon">
                                至
                            </span>
                            <input type="date" class="input-sm form-control" name="end" id="end-date" />
                            <span class="input-group-addon"></span>
                            <select class="form-control input-sm" id="end-category" style="width:100%">
                                <option value="day">08:00</option>
                                <option value="night" selected>20:00</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 " style="margin-top:5px">
                        <br />
                        <button type="button" class="btn btn-outline btn-primary" style="width:120px" data-toggle="modal" data-target="#myModal2">Hold Code Def</button>
                        <div class="modal inmodal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content animated flipInY">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                        <h4 class="modal-title">Hold Code Def</h4>
                                    </div>
                                    <div class="modal-body">
                                        <table class="dataTables-example table  table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>HoldCode</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model.HoldCodeKeyValue)
                                                {
                                                <tr>
                                                    <td>@item.Key</td>
                                                    <td>@item.Value</td>
                                                </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" style="float:right">
                        <br /><p style="font-weight:200"><small>开发者：曹晋（0279）<br />需求者：陈舒（0353）</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" id="Table">

</div>




<script>


    function Query() {
        var url = "GetTableView";
        var productID = checkselectoption('selected-product');
        productID = productID ? productID : checkselect('selected-product');
        var StartDate = $('#start-date').val();
        var EndDate = $('#end-date').val();
        var StartCategory = $('#start-category').val();
        var EndCategory = $('#end-category').val();
        var data = {
            ProductID: productID,
            StartDate: StartDate,
            EndDate: EndDate,
            StartCategory: StartCategory,
            EndCategory: EndCategory
        }
        PostAjaxGetHtml(data, url, function (responseData) {
            $('#Table').html(responseData);
        }, function () { alert(arguments[0]) });
    }

    $(document).ready(function () {
        // Examle data for jqGrid


        $("#start-date").val(today());

        $("#end-date").val(today());


        $('.chosen-select').chosen({ width: "100%" });


        $('#data-range .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });
    });

</script>
